body {
  margin: 0%;
  padding: 0%;
  /* background-image: url("./images/bggg.jfif"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.frontview {
  width: 100vw;
  height: 100vh;
  background-image: url("./images/bgimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 2px 2px 5px #452571;
}

.content {
  width: 450px;
  height: 270px;
  /* background-color: rgb(246, 245, 245); */
  margin-left: 50px;
}

.frontpic {
  /* margin-left: 20px; */
  width: 390px;
  height: 230px;
  /* background-color: black; */
  display: flex;
  justify-content: center;
}

.content p {
  font-size: 19px;
  /* margin: 0%; */
  margin: 16px;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;

}

.content h2 {
  margin: 15px;
  margin-top: -7px;
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 5px 7px 7px rgb(15, 15, 15);

}

#hello {
  color: rgb(215, 203, 149);
  font-size: 19px;
}

.content button {
  background: none;
  margin: 17px;
  width: 127px;
  padding: 16px;
  border: 1px solid white;
  border-radius: 15px;
  font-weight: 600;
  box-shadow: 5px 7px 7px rgb(15, 15, 15);
}

#profession {
  /* color: rgb(132, 0, 255); */
  font-size: large;
  color: rgb(14, 236, 162);
  margin-bottom: 8px;
  letter-spacing: 1px;

}

#subj {
  color: rgb(14, 236, 162);
  margin-top: 10px;
  word-spacing: 5px;
}

#name {
  color: rgba(238, 192, 7, 0.751);
  font-size: 55px;

}

#hire {
  color: white;
  width: 160px;
}

#project {
  color: white;
  width: 170px;
}

button:hover {
  cursor: pointer;
  background-color: #30093D;
  color: white;
  box-shadow: 2px 2px 5px #888888;
  /* Gray shadow */
  /* font-size: 20px; */
  /* border-color: aliceblue; */
}

.frontpic img {
  /* margin-left: 20px; */
  padding-top: 19px;
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: 5px 7px 7px rgb(15, 15, 15);
}

.frontpic img:hover {
  cursor: pointer;
  box-shadow: 5px 7px 7px rgb(244, 242, 242);
}

.navbar {
  width: 100vw;
  height: 80px;
  /* background-color: rgb(159, 147, 147); */
  position: absolute;
  top: 0%;
  box-shadow: 5px 7px 7px rgba(15, 15, 15, 0.668);
}

.navitem {
  display: flex;
  align-items: center;
  justify-content: end;
  list-style: none;
}

#togglebtn {
  display: none;
  margin-left: 46px;
  margin-right: 43px;
  margin-top: 12px;
  font-weight: 600;
  font-size: large;
  color: rgb(215, 203, 149);
  background: none;
}

li {
  margin-left: 46px;
  margin-right: 43px;
  margin-top: 12px;
  font-weight: 600;
  font-size: large;
}

ul {
  margin-right: 25px;

}

.navitem li a {
  font-size: larger;
  text-decoration: none;
  color: rgb(215, 203, 149);
  letter-spacing: 1px;
}

nav img {
  padding-bottom: 14px;
  position: absolute;
  left: 9%;

  /* margin-bottom: 40px; */
}

.navitem li a:hover {
  color: rgb(190, 164, 52);
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.696);
}

/* about section properties */
#skills {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(149deg, rgba(0, 0, 36, 1) 32%, rgba(9, 9, 121, 1) 71%, rgba(255, 0, 174, 1) 100%);
  padding-top: 40px;
}

#skillhead {
  margin-top: 0%;
  font-size: 50px;
  letter-spacing: 1px;
  font-weight: 900;
  margin-bottom: 0%;
  color: rgba(250, 164, 3, 0.838);
  text-shadow: 0px 3px 2px rgba(251, 249, 249, 0.731);
}

.line {
  width: 80px;
  height: 4px;
  background-color: rgba(250, 164, 3, 0.838);
  border-radius: 50px;
  margin-top: 2px;
  position: relative;
  left: 46.5%;
}

.skillcontent {
  width: 100vw;
  height: 80vh;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  /* gap: 40px; */
}

.skillcard {
  min-width: 20%;
  height: 25vh;
  /* background: linear-gradient(183deg,rgba(34, 192, 195, 0.301) 0%, rgba(253, 187, 45, 0.482) 100%); */
  margin: 10px;
}

.skillcard {
  width: 240px;
  height: 160px;
  /* background: linear-gradient(183deg,rgba(34, 192, 195, 0.408) 0%, rgba(253, 187, 45, 0.294) 100%); */
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 10px 5px rgba(255, 255, 255, 0.5);
  position: relative;
  overflow: hidden;
}

.skillcard::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.462),
      transparent);
}

.skillcard::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0.469),
      transparent,
      rgba(255, 255, 255, 0.3));
}

.skillcard img {
  margin-top: 15px;
}

.skillcard h1 {
  /* margin-bottom: 10px; */
  color: white;
  text-align: center;
}

.skillcard:hover {
  box-shadow: 5px 15px 7px rgba(0, 0, 0, 0.424);
}

.skillcard h1:hover {
  color: rgba(250, 164, 3, 0.838);

}

.Data {
  margin-top: 6px;
}

.reading {
  margin-top: 15px;
}

.sketch {
  margin-top: 0px;
}


.project {
  width: 100vw;
  height: 100%;
  background-color: #1a1a1a;
  padding-top: 40px;
}

#Heading {
  margin-top: 0%;
  font-size: 50px;
  letter-spacing: 1px;
  font-weight: 900;
  padding-bottom: 0%;
  color: rgba(250, 164, 3, 0.838);
  text-shadow: 0px 3px 2px rgba(251, 249, 249, 0.731);
}

.line2 {
  width: 140px;

  height: 5px;
  background-color: rgba(250, 164, 3, 0.838);
  border-radius: 80px;
  margin-top: -30px;
  position: relative;
  left: 45%;
}

.projectcontent {
  width: 100vw;
  height: 80vh;
  margin-bottom: 0%;
  /* background-color: black; */
  display: flex;
  /* align-items: center; */
  justify-content: center;

  /* flex-wrap: wrap; */
  /* gap: 40px; */
}

/* .projectcontent:hover{
    box-shadow:  5px 5px 7px rgba(0, 0, 0, 0.696);

} */
.projectcard {
  width: 20%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.766);
  /* background: linear-gradient(183deg,rgba(34, 192, 195, 0.301) 0%, rgba(253, 187, 45, 0.482) 100%); */
  margin: 90px;

  margin-top: 40px;
  border-radius: 10px;
}

.projectcard:hover {

  box-shadow: 0 7px 32px 0 rgba(63, 69, 75, 0.664);
}

.cardpic {
  width: 100%;
  margin: 0%;
  height: 40%;
  /* background-color: black; */
  border-radius: 10px;
}

.cardpic img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.cardcontent {
  width: 100%;
  height: 60%;
  /* background-color: black; */
  overflow-y: hidden;
}

.cardcontent p {
  color: brown;
  font-size: 30px;
  font-weight: 700;
  padding-left: 20px;
  margin-top: 10px;
}

#description {
  color: rgb(5, 5, 5);
  font-size: 17px;
  font-weight: 500;
  font-family: 'Times New Roman', Times, serif;
  padding-left: 20px;
  margin-top: -24px;
  margin-bottom: 0%;
}

.detail {
  width: 100%;
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

.detail button {
  margin: 15px;
  padding: 2px;
  font-size: 15px;
  width: 100%;
  border-radius: 15px;
  border: 1px solid gray;
  background-color: blue;
  color: antiquewhite
}

.Heading {
  margin-top: 0%;
  font-size: 50px;
  letter-spacing: 1px;
  font-weight: 900;
  padding-bottom: 0%;
  color: rgba(250, 164, 3, 0.838);
  text-shadow: 0px 3px 2px rgba(251, 249, 249, 0.731);

}

.project2 {
  background-color: #1a1a1a;
  width: 100vw;
  height: 100vh;
  color: white;
  /* padding: 20px; */
}

.line3 {
  width: 180px;

  height: 5px;
  background-color: rgba(250, 163, 3, 0.633);
  border-radius: 80px;
  margin-top: 17px;
  position: relative;
  left: 44%;
  margin-bottom: 0px;

}

.card1 {
  width: 57vw;

  margin: 10px;
  /* margin-left: 280px; */
  margin-top: 38px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* text-align: center; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.card1:hover {
  box-shadow: 0 8px 32px 0 rgba(78, 70, 70, 0.521);

}

.card1 img {
  padding: 30px;
}

.cardpic2 {
  /* margin: 10px; */
  /* margin-left: 50px; */
  /* margin-bottom: 65px; */
  /* padding: 1px; */
  /* border: 2px solid black; */
  width: 250px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.cardpic2 img {
  margin: 2px;
  padding: 30px;
}

.procontent {
  width: 600px;
  /* height: 0px; */
  font-size: 20px;
  text-align: justify;
  margin-left: 20px;
}

.carddesign {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* contacts */
.contact {
  height: 100vh;
  width: 100vw;
  /* background: linear-gradient(149deg,rgba(0, 0, 36, 1) 32%, rgba(9, 9, 121, 1) 71%, rgba(255, 0, 174, 1) 100%);   */

  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px;
  gap: 0px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.925);

}

.identity {
  height: 70vh;
  width: 35vw;
  font-size: 25px;

  text-align: left;
  /* margin: 15px; */
  color: azure;
  background: linear-gradient(149deg, rgba(0, 0, 36, 1) 32%, rgba(9, 9, 121, 1) 71%, rgba(255, 0, 174, 1) 100%);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.904);

  /* background-color: #30093D; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* .identity label {
  margin-left: 30px;
} */

.message {
  padding: 2px;
  /* margin-top: 0%; */

  margin-bottom: 10px;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.838);
  text-shadow: 0px 3px 2px rgba(251, 249, 249, 0.731);
  margin-top: 20px;


}

.identity input {
  /* background-color:#2e063b; */
  /* background: linear-gradient(149deg,rgba(0, 0, 36, 1) 32%, rgba(9, 9, 121, 1) 71%, rgba(255, 0, 174, 1) 100%);   */
  background-color: rgba(2, 2, 60, 0.546);
  border: none;
  border-bottom: 1px solid rgba(217, 211, 211, 0.841);
  width: 80%;
  color: rgb(238, 235, 235);
  height: 10px;

}

.identity button {
  background: none;
  /* width: 147px; */
  padding: 12px;
  margin-left: 25px;
  border: 1px solid white;
  border-radius: 15px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  box-shadow: 3px 2px 1px rgb(235, 217, 217);
}

.identity button:hover {
  color: rgba(250, 164, 3, 0.838);

}

.inputfields {
  width: 100%;
  padding: 12px;
  padding-left: 25px;
  margin: 0%;
}

.inputfields label {
  display: block;
  font-size: large;
}

.inputfields input {
  background: none;
}

.Us {
  height: 70vh;
  width: 35vw;
  font-size: 25px;
  text-align: left;
  /* margin-left: 15px; */
  padding-left: 10px;
  /* margin: 15px; */
  color: #131313;
  background-color: white;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.904);


  /* background: linear-gradient(149deg,rgba(0, 0, 36, 1) 32%, rgba(9, 9, 121, 1) 71%, rgba(255, 0, 174, 1) 100%);   */

  /* background-color: #30093D; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.firstline {
  margin-top: 1px;
  padding: 10px;
  padding-top: 25px;
  margin-bottom: 2px;
  text-shadow: 0px 3px 5px rgba(90, 88, 88, 0.731);
  color: rgba(0, 0, 0, 0.842);

}

#paragragh {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 400;
  margin-left: 15px;
  /* margin-left: px; */
  margin-bottom: -25px;
}

#address {
  font-size: 15px;
  margin-left: 15px;
  display: inline;
  font-weight: 600;
  font-size: 20px;

}

#Address {
  font-size: 15px;
  display: inline;
  font-weight: 400;

}

/* .fa-solid {
  font-size: 15px;
  display: inline;
  /* margin: 4px; */
*/ #boldadr {
  font-weight: 600;
  display: inline;
}

.Us i {
  margin-right: 10px;
}

.line4 {
  width: 80px;

  height: 6px;
  background: linear-gradient(135deg, #6b48ff, #9b59b6);
  border-radius: 80px;
  margin-top: 4px;
  margin-left: 4px;
}

.footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-family: Arial, sans-serif;
}

.footer-column {
  margin: 0 20px;
  text-align: left;
}

.footer-column h3 {
  color: #ff4d4d;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

.footer-column ul {
  list-style: none;
  text-align: center;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-column ul li a:hover {
  color: #ff4d4d;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  color: #ccc;
  font-size: 20px;
}

.social-icons a:hover {
  color: #ff4d4d;
}


@media(max-width:1025px) {
  .navitem li {
    margin-left: 15px;
    margin-right: 5px;
  }

  .projectcard {
    width: 27%;
    height: 70%;
    margin: 15px;

    margin-top: 20px;
  }

  #description {
    font-size: 12px;
    font-weight: 200;
    margin-top: 20px;
  }

  .cardcontent p {
    font-weight: 200;
    font-size: 20px;
  }

  .skillcard {
    min-width: 21%;
    height: 20vh;

  }

  .skillcard h1 {
    font-size: 27px;
    margin-top: 1px;
    margin-bottom: 10px
  }

.card1{

  margin: 20px;
  padding: 16px;

}
.procontent {
  width: 450px;
  font-size: 18px;
  
}
.card1 center img{
  padding: 5px;
}
.identity{
  height: 80vh;
}
.Us{
  height: 80vh;
}
}

@media(max-width:745px) {
  #togglebtn {
    display: block;
  }

  .navitem li {
    display: none;
  }

  .projectcard {
    width: 27%;
    height: 70%;
    margin: 15px;

    margin-top: 20px;
  }

  #description {
    font-size: 12px;
    font-weight: 300;
    margin-top: 10px;
  }
.detail button{
  margin: 1px;
  padding: 4px;
}
  .cardcontent p {
    font-weight: 200;
    font-size: 10px;
  }

  .skillcard {
    min-width: 10%;
    height: 19vh;

  }

  .skillcard h1 {
    font-size: 17px;
  }

/* .card1{

  margin: 8px;
  padding: 10px;
  margin: 20px;

} */
/* .procontent { */
  /* width: 400px; */
  /* font-size: 19px; */
    /* width: 400px; */
  /* height: 0px; */

/* } */
/* .card1 center img{
  width: 140px;
} */
   .card1 {
  width: 55vw;

  margin: 5px;
  margin-top: 5px;
  padding: 7px;
  display: block;
  align-items: center;
}
.procontent {
  width: 300px;
  /* height: 0px; */
  font-size: 15px;
  text-align: justify;
  margin-left: 10px;
  margin-top: 10px;
}

.identity{
  height: 80vh;
}
.Us{
  height: 80vh;
}
}
@media(max-width:600px) {
   .skillcard {
    width: 25%;
    height: 20vh;
    margin: 2px;

  }

  .skillcard h1 {
    font-size: 17px;
  }
     .projectcard {
    width: 1000%;
    height: 90%;
    margin: 15px;

    margin-top: 20px;
  }
.Projects{
  width: 150vw;
  height: 150vh;
}
  .card1 {
  width: 57vw;

  margin: 10px;
  margin-top: 25px;
  padding: 10px;
  display: block;
  align-items: center;
}
.procontent {
  width: 300px;
  /* height: 0px; */
  font-size: 12px;
  text-align: justify;
  margin-left: 10px;
  margin-top: 4px;
}
#Heading{
  display:grid ;
  
}
.projectcard {
  width: 90%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.766);
  /* background: linear-gradient(183deg,rgba(34, 192, 195, 0.301) 0%, rgba(253, 187, 45, 0.482) 100%); */
  margin: 10px;

  margin-top: 10px;
  border-radius: 10px;
}


.cardpic2 img{
  width: 140px;
  text-align: center;
}
.cardpic2 center img{
  width: 120px;
  text-align: center;
}
.cardpic2{
  margin-left: 45px;
}
#csss{
  width:200px ;
}
}